
body {
  background-color: powderblue;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 10%;
}

h3 {
  padding-left: 20px;
  font-style: italic;
}

h1, h3 {
  color: #66bfbf;
}
